<div class="card mb-3" style="max-width: 30rem;">
    <div class="card-body">
        <h4 class="card-title">{{ include.title }}</h4>
        <p class="card-text">{{ include.description }}</p>
        {% unless include.published==false %}
                {% if include.forelesningsnotat != "" %}
                    <a href="{{ include.forelesningsnotat }}" class="btn btn-outline-primary">Åpne modul</a>
                {% endif %}
                {% if include.slides != "" %}
                    <a href="{{ include.slides }}" class="btn btn-outline-primary">Slides</a>
                {% endif %}
                {% if include.oppgaver != "" %}
                    <a href="{{ include.oppgaver }}" class="btn btn-outline-primary">Oppgaver</a>
                {% endif %}
                {% if include.losningsforslag != "" %}
                    <a href="{{ include.losningsforslag }}" class="btn btn-outline-primary">sLøsningsforslag</a>
                {% endif %}
        {% endunless %}
{% unless include.published==true %}
    <p>Undervisningsmateriale kommer senere.</p>
{% endunless %}
{{ include.custombottom }}
    </div>
</div> 
